config/home-assistant_v2.db
config/home-assistant_v2.db-wal
config/home-assistant_v2.db-shm
config/*.log
config/.google.token
config/.storage
config/.uuid
config/deps
config/tts
config/icloud

config/known_devices.yaml
config/plex.conf
config/secrets.yaml
