config/hass/home-assistant_v2.db
config/hass/home-assistant_v2.db-wal
config/hass/home-assistant_v2.db-shm
config/hass/**/__pycache__
config/hass/*.log
config/hass/.google.token
config/hass/.homekit.state
config/hass/.storage
config/hass/.uuid
config/hass/deps
config/hass/icloud
config/hass/known_devices.yaml
config/hass/plex.conf
config/hass/secrets.yaml
config/hass/ssl
config/hass/tts
config/owntracks/*
!config/owntracks/.gitkeep
